html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

body {
    min-height: 100vh;
}

a {
    text-decoration: none;
}

/* BEGIN */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Montserrat:wght@300;500;700&family=Open+Sans:wght@300;400;600;700&family=Raleway:wght@700&display=swap');

@font-face {
    font-family: 'SF Pro Display Light';
    src: url(/fonts/SF-Pro-Display-Light.otf);
    font-weight: 300;
}

@font-face {
    font-family: 'SF Pro Display Bold';
    src: url(/fonts/SF-Pro-Display-Bold.otf);
    font-weight: 700;
}

/* font-family: 'Merriweather', serif; */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Raleway', sans-serif; */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    color: #373A39;
}

.container {
    max-width: 1190px;
    padding: 0 10px;
    margin: 0 auto;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
    letter-spacing: -1.65px;
    color: #242121;
    padding-bottom: 18px;
    position: relative;
    align-self: flex-start;
}

.title::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 4px;
    background-color: #FCBB08;
    bottom: 0;
    left: 0;
}

.header__top{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 999;
}

.header__top-inner {
    padding-bottom: 29px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.menu__btn{
    display: none;
}

.menu__list {
    display: flex;
}

ul.menu__list{
    margin-bottom: 10px;
}

.menu__list-item+.menu__list-item {
    margin-left: 32px;
}

.menu__list-link {
    padding: 0 9px 9px;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #373A39;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.6px;
}

.menu__list-link:hover {
    border-bottom: 1px solid #FCBB08;
}

.header__content {
    padding-top: 100px;
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

.header__content-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: calc(100vh - 93px);
}

.header__title {
    font-weight: 500;
    font-size: 72px;
    line-height: 88px;
    color: #fff;
    margin-top: auto;
    margin-bottom: 19px;
    padding-top: 130px;
}

.header__subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.74286px;
    color: #FCBB08;
    margin-bottom: auto;
}

.header__icon {
    margin-bottom: 62px;
}

.about {
    background-color: #F6F8FA;
    padding: 150px 0 144px;
}

.about__inner {
    display: flex;
    justify-content: space-between;
}

.about__title {
    font-size: 48px;
}

.about__text p {
    max-width: 770px;
    margin-bottom: 16px;
    font-family: 'SF Pro Display Light', sans-serif;
}

.expertise {
    padding: 140px 0 160px;
}

.expertise__title {
    margin-bottom: 90px;
}

.expertise__inner {
    display: flex;
    margin-bottom: 110px;
}

.expretise__info {
    width: 370px;
    margin-right: 30px;
    flex: none;
    margin-top: 8px;
}

.expertise__info-item {
    border-top: 2px solid #1D1D1D;
    padding: 2px 0 28px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #1D1D1D;
    position: relative;
}

.expertise__info-item span {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 7px;
}

.expertise__info-item span::before {
    content: "";
    position: absolute;
    height: 2px;
    background-color: #F0F0F0;
    right: -7px;
    top: -2px;
    width: 100%;
}

.expertise__text p {
    margin-bottom: 25px;
    font-family: 'SF Pro Display Light', sans-serif;
}

.expertise__items {
    display: flex;
    justify-content: space-between;
}

.expertise__item {
    width: 370px;
    padding-left: 85px;
    position: relative;
}

.expertise__item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
}

.expertise__item--design::before{
    background-image: url('../img/designicon.svg');
}
.expertise__item--development::before{
    background-image: url('../img/monitoricon.svg');
}
.expertise__item--marketing::before{
    background-image: url('../img/speakericon.svg');
}

.expertise__item-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 4.29px;
    color: #333333;
    padding-bottom: 18px;
}

.expertise__item-text {
    font-family: 'SF Pro Display Light', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}

.magic{
    background: #F6F8FA;
    background-image: url('../img/magic-bg.jpg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: left bottom;
    
}

.magic__inner{
    max-width: 470px;
    margin-left: auto;
    padding: 100px 0px 190px;
}

.magic__title{
    margin-bottom: 67px;
}

.magic__text p{
    margin-bottom: 25px;
}

.portfolio{
    padding: 140px 0 165px;

}

.portfolio__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.portfolio__filter-btn{
    margin-right: 65px;
}

.portfolio__btn{
    background-color: transparent;
    border: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    color: #333;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 0 4px 5px;
    outline: none;
}

.portfolio__btn + .portfolio__btn{
    margin-left: 25px;
}

.mixitup-control-active{
    border-bottom: 1px solid #FCBB08;
}

.portfolio__content{
    column-count: 4;
    column-gap: 22px;
    margin-bottom: 50px;
}

.portfolio__item{
    margin-bottom: 22px;
    position: relative;
}

.portfolio__item-link{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-weight: 600;
    line-height: 14px;
    font-size: 14px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color:#fff;
    background-color: #4C4A4A;
    border: 12px solid #666565;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all .3s;
}

.portfolio__item:hover .portfolio__item-link{
    opacity: 0.8;
}

.portfolio__item img{
    width: 100%;
}

.portfolio_add{
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1.2px;
    color: #242121;
    text-align: center;
    text-transform: uppercase;
    padding: 42px 15px 41px;
    background: #F6F8FA;
    margin-bottom: 130px;
}

.blockquote{
    max-width: 650px;
    margin: 0 auto 148px;
    font-family: 'Merriweather', serif;
    text-align: center;
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    line-height: 36px;
    color: #242121;
}

.blockquote__author{
    padding-top: 51px;
    display: block;
    color: #9E9E9E;
    font-size: 14px;
    line-height: 32px;
}

.portfolio__video{
    background-image: url('../img/video-bg.jpg');
    height: 324px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 165px;
}

.portfolio__numbers{
    display: flex;
    justify-content: space-around;
}

.portfolio__numbers-item{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 60px;
    line-height: 73px;
    color: #242121;
    margin-bottom: 9px;
}

.portfolio__numbers-item span{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #333;
    display: block;
}

.slider-blog{
    background-color: #F8F6F2;
    padding: 115px 0;
}

.slider-blog__item{
    padding: 190px 0;
}

.slider-blog__item-title{
    line-height: 52px;
    font-weight: bold;
    font-size: 36px;
    color: #242121;
    margin-bottom: 10px;
    max-width: 675px;
    display: inline-block;
}

.slider-blog__item-descr{
    max-width: 585px;
}

.slick-dots{
    display: flex;
}

.slick-dots li + li{
    margin-left: 13px;
}

.slick-dots .slick-active button{
    opacity: 1; 
    width: 10px;
    height: 10px;
    transform: translateY(-2px);
}

.slick-dots button{
    background-color: #242121;
    opacity: 0.4;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    font-size: 0;
    padding: 0;
    border: none;
}

.slick-prev,
.slick-next{
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-150%);   
}

.slick-prev{
    left: -95px;
}

.slick-next{
    right: -95px;
}

.team{
    padding: 120px 0 130px;
}

.team__title{
    margin-bottom: 100px;
}

.team__items{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.team__name{
    padding: 35px 0 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #333;
}

.team__position{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #373A39;
}

.pricing{
    background-color: #F6F8FA;
    padding: 145px 0 160px; 
}

.pricing__title{
    margin-bottom: 90px;
}

.pricing__items{
    display: flex;
    justify-content: space-between;
}

ul.pricing__item{
    background-color: #fff;
    text-align: center;
    padding: 24px 25px 50px;
    width: 370px;
}

.pricing__item li{
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #242121;
    margin-bottom: 30px;
}

.pricing__item .pricing__item-name{
    text-align: left;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 8px;
}

.pricing__item .pricing__item-num{
    font-size: 80px;
    line-height: 109px;
    margin-bottom: 50px;
}

.pricing__item-num sup{
    font-size: 40px;
    line-height: 54px;
}

.pricing__item-link{
    display: block;
    margin-top: 70px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1.2px;
}

.clients{
    padding: 70px 0 95px;
}

.clients__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.connection{
    padding: 145px 0 160px;
    background-image: url('../img/map.jpg');
    background-repeat: no-repeat;
    background-size: 42%;
    background-position: right 60%;
}

.connection__title{
    margin-bottom: 80px;
}

.form{
    max-width: 570px;
}

.form input,
.form textarea{
    border: none;
    display: block;
    width: 100%;
    border-bottom: 2px solid #373A39;
    padding: 16px 0;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 700;
}

.form input::placeholder,
.form textarea::placeholder{
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 3.70909px;
    color: #B8B8B8;
    text-transform: uppercase;
    font-weight: 300;
}

.form textarea{
    min-height: 160px;
    resize: none;
}

.form button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    padding: 17px 70px 15px;
    background-color: #242121;
    border: none;
    margin-top: 40px;
    cursor: pointer;
}

.footer__top{
    padding: 110px 10px 60px;
    background-color: #333333;
    text-align: center;
}

.footer__logo{
    display: inline-block;
    padding: 0 35px 4px;
    border-bottom: 2px solid #FCBB08;
    margin-bottom: 70px;
}

.footer__social{
    display: flex;
    justify-content: center;
}

.footer__social-list{
    margin-bottom: 65px;
}

.footer__social-list + .footer__social-list{
    margin-left: 30px;
}

.footer__social-link{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.footer__contact{
    font-size: 14px;
    line-height: 32px;
    color: #fff;
    margin-bottom: 60px;
}

.footer__contact a{
    display: block;
    margin: 10px 0;
    color: #fff;
}

.go-top{
    display: inline-block;
}

.footer__copy{
    padding: 40px 10px;
    background-color: #2A2C2B;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    color: #ccc;
}


/* ADAPTIVE */

@media (max-width: 1440px){
    .magic__inner{
        padding: 50px 0;
    }
    .slick-prev{
        left: 0;
    }
    .slick-next{
        right: 0;
    }
    .slider-blog__item{
        padding: 120px 60px;
    }
    ul.slick-dots{
        margin-left: 60px;
    }
}

@media (max-width: 1200px){
    .title{
        font-size: 48px;
        line-height: 60px;
    }
    .about,
    .expertise,
    .portfolio,
    .slider-blog,
    .team,
    .pricing,
    .connection,
    .footer__top{
        padding: 70px 0;
    }
    .header__top-inner{
        padding-bottom: 5px;
    }
    .about__inner{
        display: block;
    }
    .about__title,
    .expertise__title,
    .team__title,
    .pricing__title
    .connection__title{
        margin-bottom: 50px;
    }
    .about__text p{
        max-width: 100%;
    }
    .portfolio__filter-btn {
        margin-right: 0;
    }
    .team__items{
        column-gap: 20px;
    }
    .clients{
        padding: 20px 0;
    }
    .footer__logo{
        margin-bottom: 40px;
    }
    .footer__social-list{
        margin-bottom: 20px;
    }
}

@media (max-width: 992px){
    .expertise__inner {
        display: block;
        margin-bottom: 50px;
    }
    .expretise__info {
        width: 100%;
        margin-right: 0;
    }
    .expertise__items{
        display: block;
    }
    .expertise__item{
        width: 100%;
        margin-bottom: 40px;
    }
    .magic{
        background-image: none;
    }
    .magic__inner {
        max-width: 100%;
        margin-left: 0;
    }
    .magic__title{
        margin-bottom: 50px;
    }
    .portfolio__content {
        column-count: 3;
        margin-bottom: 40px;
    }
    .portfolio__top{
        display: block;
    }
    .portfolio__filter-btn{
        margin-top: 40px;
    }
    .portfolio__top{
        margin-bottom: 50px;
    }
    .connection{
        background-image: none;
    }
    .form{
        max-width: 100%;
    }
}

@media (max-width: 768px){
    .logo{
        position: relative;
        z-index: 2;
    }
    .menu__btn img{
        position: relative;
        z-index: 2;
    }
    
    .menu__list{
        display: block;
        position: absolute;
        right: 0;
        left: 0;
        top: 60px;
        background: #fff;
        text-align: center;
        transform: translateY(-200%);
        transition: all .5s;
    }

    .menu__list.menu__list--active{
        transform: translateY(0);
    }

    .menu__list-item+.menu__list-item {
        margin-left: 0;
    }
    
    .menu__list-link{
        display: block;
        padding: 25px 0;
    }

    .menu__btn{
        display: block;
        background-color: transparent;
        border: none;
        padding: 0;
        margin-bottom: 10px;
    }    

    .header__title{
        font-size: 56px;
        line-height: 62px;
    }

    .portfolio__content {
        column-count: 2;
    }

    .portfolio__btn{
        display: block;
        margin-bottom: 30px;
    }

    .portfolio__btn + .portfolio__btn{
        margin-left: 0;
    }

    .portfolio_add{
        margin-bottom: 50px;
    }

    .blockquote{
        margin-bottom: 50px;
        padding: 0 10px;
    }

    .portfolio__video{
        margin-bottom: 50px;
    }

    .portfolio__numbers{
        flex-wrap: wrap;
    }
    .portfolio__numbers-item{
        width: 50%;
        margin-bottom: 40px;
    }
    .slider-blog__item{
        padding: 40px 0;
    }
    ul.slick-dots{
        margin-left: 0;
    }
    .slider-blog__item-title {
        line-height: 34px;
        font-size: 20px;
    }

    .pricing__items{
        display: block;
    }
    ul.pricing__item{
        width: 100%;
        margin-bottom: 10px;
        padding: 25px 25px;
    }

    .pricing__item .pricing__item-name{
        text-align: center;
    }
    .pricing__item .pricing__item-num{
        margin-bottom: 0;
    }
    .pricing__item-link{
        margin-top: 30px;
    }
    .clients__list{
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .clients__list li{
        margin-bottom: 25px;
    }
    .footer__social{
        display: block;
    }
    .footer__social-list + .footer__social-list {
        margin-left: 0;
    }
}

@media (max-width: 440px){
    .header__title{
        font-size: 32px;
        line-height: 26px;
    }

    .header__subtitle{
        font-size: 12px;
        line-height: 20px;
    }

    .title,
    .about__title{
        font-size: 28px;
        line-height: 42px;
    }

    .expertise__item{
        padding-left: 0;
        padding-top: 60px;
        text-align: center;
    }

    .expertise__item::before{
        right: 0;
        margin: 0 auto;
    }

    .portfolio__numbers-item{
        width: 100%;
    }

    .team__items{
        display: block;
    }

    .team__item{
        margin-bottom: 25px;
    }

    .team__item img{
        margin: 0 auto;
    }
}